<div class="content">
  <div class="title is-5">
    <h2><%= gettext "Welcome to %{name}!", name: "Momiji" %></h2>
    <p class="subtitle is-5">A general-purpose Discord bot<br />with a focus on customization.</p>
  </div>
  <p>
    This website is heavily in construction (as you can see). Please be patient.
  </p>
</div>