<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Momiji - A Discord Bot</title>

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <!-- Make a brand -->

          <!-- This has to be this way for the hamburger menu to appear on mobile -->
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarClassicExample" class="navbar-menu">
          <div class="navbar-start"> <!-- Left-aligned -->
            <%= link "Home", to: page_path(@conn, :index), class: "navbar-item" %>
            <%= link "Manage", to: panel_path(@conn, :index), class: "navbar-item" %>
          </div>
          <div class="navbar-end"> <!-- Right-aligned -->
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--
    <p class="notification is-info is-overlay" role="alert">
      <button class="delete"></button>
      <%= get_flash(@conn, :info) %>
    </p>
    <p class="notification is-danger is-overlay" role="alert">
      <button class="delete"></button>
      <%= get_flash(@conn, :error) %>
    </p>
    -->

    <main role="main" class="section">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <div class="footer">
      <div class="content is-small has-text-centered">
        <p>
          <strong>Momiji</strong> is created by Adelyn Breedlove.
          Source code is <%= link "MIT", to: "http://opensource.org/licenses/mit-license.php" %> licensed
          and available on <%= link "GitLab", to: "https://gitlab.com/Mishio595/momiji-rust" %>.
        </p>
        <p>
          Website powered by <%= link "Phoenix", to: "https://phoenixframework.org/" %> and
          <%= link "Bulma", to: "https://bulma.io" %>.
        </p>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
