<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="level">
    <div class="field">
      <label class="label">Name</label>
      <%= text_input f, :name, class: "input is-primary", placeholder: "Guild name" %>
    </div>
  </div>
  <div class="level">
    <div class="control">
      <%= submit "Submit", class: "button is-primary" %>
      <%= link "Cancel", to: panel_path(@conn, :index), class: "button is-danger is-outlined" %>
    </div>
  </div>
<% end %>
