<div class="title is-5">Manage guilds</div>

<table class="table is-hoverable">
  <thead>
    <tr>
      <th>Guilds</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for panel <- @manage do %>
    <tr>
      <td><%= panel.name %></td>
      <td>
        <span><%= link "Show", to: panel_path(@conn, :show, panel), class: "button is-primary is-small" %></span>
        <span><%= link "Edit", to: panel_path(@conn, :edit, panel), class: "button is-primary is-outlined is-small" %></span>
        <span><%= link "Delete", to: panel_path(@conn, :delete, panel), method: :delete, data: [confirm: "Are you sure?"], class: "button is-danger is-small" %></span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link "Add Guild", to: panel_path(@conn, :new), class: "button is-primary" %>
