<div class="title is-5">Guild details</div>

<div>Nothing here yet</div>

<div class="buttons">
    <%= link "Edit", to: panel_path(@conn, :edit, @panel), class: "button is-primary is-outlined" %>
    <%= link "Back", to: panel_path(@conn, :index), class: "button is-danger is-outlined" %>
</div>